.container {
  padding: 0 30px;
}

.heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: tomato;
  margin-top: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  background: #fdffef;
  border-radius: 20px;
  border: solid 4px tomato;
  box-sizing: border-box;
}
