.loadMore {
  max-width: 300px;
  font-size: 1.2rem;
  display: block;
  margin: 0 auto;
  padding: 1rem 3rem;
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
  background-color: #217dbb;
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.loadMore:hover {
  background-color: #217dbb;
}

.container {
  padding-bottom: 100px;
}
