.loadMore {
  display: block;
  margin: 0 auto;
  padding: 1rem 3rem;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  border: 1px solid tomato;
  background: transparent;
  font-size: 1.2rem;
}
