.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0 20px;
  border-bottom: 3px solid #e0bba2;
}

.item:last-child {
  border-bottom: none;
}

.details {
  margin-top: 0;
  width: 100%;
  list-style: none;
  padding: 0;
}

.link {
  display: block;
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-position: under;
  transition: all 0.2s ease-in-out;
  color: tomato;
}

.link:hover {
  color: rgb(16, 16, 150);
}
