.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.addBtn {
  background-color: #f39c12;
  font-size: 14px;
  padding: 17px 24px;
  border-radius: 40px;
  background-clip: padding-box;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  letter-spacing: 2px;
  border: none;
  font-weight: bold;
}

.addBtn:hover {
  background-color: #c87f0a;
}

.removeBtn {
  background-color: #c0392b;
  font-size: 14px;
  padding: 17px 24px;
  border-radius: 40px;
  background-clip: padding-box;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  letter-spacing: 2px;
  border: none;
  font-weight: bold;
}

.removeBtn:hover {
  background-color: #962d22;
}
