.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px;
}

.userDetails {
  flex-basis: 20rem;
  flex-grow: 1;
  margin-right: 20px;
}

.repositories {
  flex-basis: 0;
  flex-grow: 999;
  margin-left: 20px;
}

.errorText {
  color: tomato;
  font-size: 2rem;
  text-align: center;
  margin: 3rem auto 0;
}
