.listItem {
  border: 1px solid tomato;
  padding: 0 0 20px;
}

.avatar {
  width: 100%;
}

.infoWrapper {
  padding: 0 1rem 0;
}

.info {
  margin: 0 0 1.5rem;
  list-style: none;
  padding: 0;
}

.avatar {
  border-bottom: 1px solid tomato;
}

.seeMore {
  display: block;
  margin: 0 auto;
  padding: 0.4rem 1.2rem;
  max-width: 80px;
  text-align: center;
  text-decoration: none;

  border: 1px solid #217dbb;
  color: #217dbb;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}

.seeMore:hover {
  background-color: #217dbb;
  color: #fff;
}
