.container {
  padding: 66px 0;
  margin: 0 auto;
  max-width: 1190px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.label {
  margin-bottom: 60px;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  color: tomato;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 18px 130px 18px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  box-sizing: border-box;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.input:hover,
.input:focus {
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.input::placeholder {
  color: #575756;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
  font-size: 1.2rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
